// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$scrollbar_bg: rgb(199, 169, 204);
$scrollbar_thumb_bg: #6d676e;
