@import "variables";

.channel::-webkit-scrollbar {
    background-color: $scrollbar_bg;
    width: 10px;
}

.channel::-webkit-scrollbar-thumb {
    background-color: $scrollbar_thumb_bg;
    border-radius: 10px;
}

.public_channel_details_users_wrapper::-webkit-scrollbar {
    background-color: $scrollbar_bg;
    width: 10px;
}

.public_channel_details_users_wrapper::-webkit-scrollbar-thumb {
    background-color: $scrollbar_thumb_bg;
    border-radius: 10px;
}

.message {
    position: relative;
    width: 50%;
    height: 50%;
    min-width: 200px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 6px 3px 20px rgba(0, 0, 0, .5);
    word-wrap: break-word;

    &_img {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin-right: 10px;
    }

    &_panel {
        height: 800px;
        overflow: auto;
    }

    &_date {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}

.channel {
    height: 200px;
    overflow: auto;
}

.message_header {
    width: 100%;
    display: flex;
    background-color: #9971a0;
    padding: 10px;
    position: fixed;
    z-index: 100;
    box-shadow: 3px 6px 30px rgba(0, 0, 0, .5);

    &_details {
        margin-left: 20px;
    }

    &_title {
        color: #cbd5e0;
    }

    &_avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
    }

    &_status_online {
        color: #72da32;
    }

    &_status_offline {
        color: #cb2b15;
    }
}

.channel_actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.channel_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    color: #2d3748;
    background-color: #a779af;
    padding: 10px;
    border-radius: 10px;
}

.channel_info:hover {
    background-color: #764d7e;
    transition: background-color .2s;
    color: #cbd5e0;
}

.channel_title {
    width: 100%;
}

.profile_recipient {
    &_img {
        width: 100%;
    }
}

.public_channel_details_users_wrapper {
    height: 200px;
    overflow: auto;
}

.channel_details_users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c796d0;
    color: #2d3748;
    border-radius: 10px;
    padding: 5px;
    margin-top: 5px;

    &_avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.cursor {
    cursor: pointer;
}

.active {
    background-color: #da2121;
    color: #d98fc8;
}

.chat_panel_header {
    margin: 90px 0 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_btns {
        margin-left: 10px;
        position: relative;
    }
}

.margin_right {
    margin-right: 10px;
}



